 @import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --color-primary: #5a61dd;
  --color-darkGrey: #d2d6dd;
  --color-grey: #7e818b;
  --color-lightGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 85%;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-family: "Poppins", sans-serif;
  --font-color: #ffffff;
}

html {
  color: var(--font-color);
  background-color: rgb(14,14,14);
}

.stars, .twinkling {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.stars {
  z-index: -99;
  background: #000 url("https://image.ibb.co/mjnygo/stars.png") repeat top center;
}

.twinkling {
  z-index: -98;
  background: transparent url("https://image.ibb.co/ir1DE8/twinkling.png") repeat top center;
  animation: move-twink-back 400s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

nav {
  padding-bottom: 4em;
  padding-top: 1em;
}

.brand { white-space:nowrap; }

.contact {
  display: grid;
  grid-template-columns: 25px auto;
  grid-row-gap: 3px;
  grid-column-gap: 0.1ch;
  grid-template-rows: auto;
  font-size: 14px;
}

.contact * {
  padding: 0 !important;
}

hr {
  width: 100%;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: var(--color-lightGrey);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.footer {
  border-top: 1px solid;
  border-color: var(--color-lightGrey);
  padding: 10px;
}

.footer .item a img {
  vertical-align: middle;
}

.footer .item:not(last-child) {
  padding-right: 2ch;
}

.footer a {
  color: var(--font-color);
}

.gallery {
  /* line-height: 0; */
  -webkit-column-gap:   0.5em;
  -moz-column-gap:      0.5em;
  column-gap:           0.5em;  
}

@media screen and (max-width: 600px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count:    2;
    column-count:         2;
  }
}

@media screen and (min-width: 600px) {
  .gallery {
    -webkit-column-count: 3;
    -moz-column-count:    3;
    column-count:         3;
  }
}

@media screen and (min-width: 1000px) {
  .gallery {
    -webkit-column-count: 5;
    -moz-column-count:    5;
    column-count:         5;
  }
}

.gallery img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
