<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>skyespace - $title$</title>

    <!-- Stylesheets. -->
    <link rel="stylesheet" type="text/css" href="/style.css" />

    <!-- Metadata. -->
    <!-- <meta name="keywords" content="Jasper Van der Jeugt,blog,programming,coding,haskell,function,personal,homepage"/> -->
    <!-- <meta name="description" content="Personal home page and blog of Jasper Van der Jeugt."/> -->
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <a class="brand" href="#">Skye's Space</a>
          <div class="tabs">
            <a href="/index.html" class="$activeClass("index.html")$">Home</a>
            <a href="/pages/about.html" class="$activeClass("pages/about.md")$">About</a>
            <a href="/gallery.html" class="$activeClass("gallery.html")$">Gallery</a>
          </div>
        </div>
        <div class="nav-right">
          <!-- <a class="button outline">Button</a> -->
        </div>
      </nav>
    </div>

    <div class='stars'></div>
    <div class='twinkling'></div>

    <div class="container">
      $body$
    </div>

    <script src="js/main.js"> </script>
  </body>
</html>
