<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>skyespace - $title$</title>

    <!-- Stylesheets. -->
    <link rel="stylesheet" type="text/css" href="/style.css" />
    $if(styles)$
    $for(styles)$
      <link rel="stylesheet" type="text/css" href="$href$" $if(integrity)$ integrity="$integrity$" crossorigin="anonymous" $endif$></script>
    $endfor$
    $endif$

    <!-- Metadata. -->
    <!-- <meta name="keywords" content="Jasper Van der Jeugt,blog,programming,coding,haskell,function,personal,homepage"/> -->
    <!-- <meta name="description" content="Personal home page and blog of Jasper Van der Jeugt."/> -->
  </head>
  <body>
    <main>
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <a class="brand" href="#">Skye's Space</a>
          <div class="tabs">
            <a href="/index.html" class="$activeClass("index.html")$">Home</a>
            <a href="/pages/about.html" class="$activeClass("pages/about.md")$">About</a>
            <a href="/gallery.html" class="$activeClass("gallery.html")$">Gallery</a>
          </div>
        </div>
        <div class="nav-right">
          <div>
            <div class="contact">
              <img src="https://icongr.am/fontawesome/info-circle.svg?size=18&color=ffffff">
              <div> Schuyler Sullivan </div> 
              <img src="https://icongr.am/fontawesome/envelope-o.svg?size=18&color=ffffff">
              <a href="mailto:skye@skye.space">skye@skye.space</a>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      $body$
    </div>
    </main>

    <footer>
      <div class="container footer is-right">
        <div class="item">
          <a href="https://skyespace.tumblr.com/">
            <img src="https://icongr.am/fontawesome/tumblr.svg?size=18&color=ffffff">
            tumblr
          </a>
        </div>
        <div class="item">
          <a href="https://github.com/goolord/skyespace">
            <img src="https://icongr.am/fontawesome/github.svg?size=18&color=ffffff">
            github
          </a>
        </div>
        
      </div>
    </footer>
    <script type="text/javascript" src="js/main.js"></script>
    $if(scripts)$
    $for(scripts)$
      <script type="text/javascript" src="$src$"></script>
    $endfor$
    $endif$
  </body>
</html>
